.nav-bar {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
}

.nav-bar > div {
    width: 25%;
    text-align: center;
    padding: 5px;
}

.nav-bar > div > a {
    display: block;
    width: 100%;
}

.nav-bar > div:hover {
    background-color: lightgrey;
}